/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --background-color: #000028;
  --accent-color: rgba(255, 0, 112, 1);
  --title-color: rgba(219, 0, 255, 1);
  --text-color: rgba(241, 178, 206, 1);
  --background-image: url(../images/cover-image-dark.png);
  --accent-color-hover: rgba(255, 0, 112, 0.4);
  --button-color: rgba(255, 0, 112, 1);
  --header-title-color: #000028;
  --subtitle-color: rgba(255, 0, 112, 1);
  --content-title-color: rgba(255, 0, 112, 1);
  --decorated-zone-color: rgba(255, 0, 112, 1);
  --footer-accent-color: rgba(255, 0, 112, 1);
  --font-size-text: 18px;
  --font-size-title-accent-mobile-version: clamp(
    7.25rem,
    7.0115rem + 1.0178vw,
    7.5rem
  );
  --font-size-title-accent-other-version: clamp(
    7.5rem,
    0.5625rem + 14.4531vw,
    9.8125rem
  );
}
